.listWrapper {
    padding: 30px;
    border: 1px solid white;
    max-width: 400px;
    margin: auto;
    list-style-type: none;
    color: white;
}

.item {
    padding: 10px;
    color: white;
    font-size: 18px;
}

.item span {
    margin-right: 30px;
}