.main {
    display: flex;
    padding: 10px 0;
    color: white;
}

.minutes {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.timerTitle {
    margin: 0;
    font-size: 30px;
}


